.bibleChapterDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: var(--header-height, 50px);
    background-color: #f5f5f5;
    padding: 10px 20px;
    z-index: 9;
}

.previousChapterButton {

    color: black;
    /* White text */
    padding: 10px 20px;
    /* Padding inside button */

    cursor: pointer;
    /* Pointer cursor on hover */
    font-family: 'LibreBaskerville-Regular';
    font-size: 17px;
    transition: background-color 0.3s, transform 0.2s;
    /* Smooth transition */
    margin: 5px;
    /* Spacing between buttons */
    width: 100%;
    /* Full width on mobile */
    max-width: 200px;
}

.bibleChapterHeader {
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.nextChapterButton {

    color: black;
    /* White text */
    padding: 10px 20px;
    /* Padding inside button */

    cursor: pointer;
    /* Pointer cursor on hover */
    font-family: 'LibreBaskerville-Regular';
    font-size: 17px;
    transition: background-color 0.3s, transform 0.2s;
    /* Smooth transition */
    margin: 10px;
    /* Spacing between buttons */
    width: 100%;
    /* Full width on mobile */
    max-width: 200px;
}