.sidebar {
    /* Make sure the sidebar can handle items properly */
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #f0f0f0;
    z-index: 1000;
    padding: 10px;
    display: none;
    /* Hide sidebar by default */
    overflow-y: auto;
    /* Allow scrolling inside the sidebar */
    overscroll-behavior: contain;
    /* Prevent scroll chaining */
}

.sidebar.open {
    display: block;
    /* Show when open */
}

.sidebarTitle,
.sidebarSubtitle {
    font-size: 1.5em;
    text-align: center;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
}

.sidebarItem {
    /* padding: 2px 0; */
    margin-bottom: -10px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.sidebarItem.active {
    background-color: #e6e6e6;
}

.sidebarItem:hover {
    background-color: #e6e6e6;
}

.sidebarLink {
    text-decoration: none;
    color: inherit;
    padding: 12px 15px;
    display: block;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

.sidebarLink.active {
    background-color: #e0e0e0;
    color: #000;
    font-weight: bold;
    border-left: 3px solid #333;
}

.sidebarFooter {
    margin-top: auto;
    /* border-top: 1px solid #ccc; */
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}

.sidebarFooter .sidebarLink {
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        /* Full width on mobile */
        max-width: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .sidebar.open {
        display: block;
    }

    .sidebarItem {
        padding: 8px 0;
    }

    .sidebarLink {
        padding: 8px 15px;
        font-size: 1.3em;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        /* Make sidebar full width on mobile */
    }

    .sidebar.open {
        display: block;
        /* Show sidebar on mobile when open */
    }

    .strongsContent {
        text-align: left;
    }

    /* Default font size for small screens */
    [lang="he"].hebrew-text {
        font-size: 15vw !important;
        /* Adjust the size relative to the viewport width */
        text-align: center;
        margin: 0px 0;
        direction: rtl;
        /* max-width: 100%; */
        word-wrap: break-word;
        /* line-height: 3.4; */

        /* Better Hebrew font rendering */
        padding: 0px;
    }

}