.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #f0f0f0;
    z-index: 1000;
    padding: 0;
    overflow: hidden;
    /* hide overflow here; scroll only in content */
    display: none;
}

.sidebar.open {
    display: flex;
}

.sidebarHeader {
    position: sticky;
    top: 0;
    background: #f0f0f0;
    z-index: 10;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.sidebarContent {
    flex: 1;
    overflow-y: auto;
    padding: 10px;

    /* Hide scrollbar - WebKit browsers (Chrome, Safari, Edge) */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.sidebarContent::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

/* Sidebar list styling remains unchanged */
.sidebarList {
    list-style-type: none;
    padding: 0;
}

.sidebarItem {
    margin-bottom: -10px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.sidebarLink {
    text-decoration: none;
    color: inherit;
    padding: 12px 15px;
    display: block;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

/* Footer fixed to bottom using flexbox */
.sidebarFooter {
    padding: 10px;
    text-align: center;
    background: #f0f0f0;
    border-top: 1px solid #ccc;
}

.sidebarTitle,
.sidebarSubtitle {
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        /* keep flex layout */
    }

    /* .sidebar.open {
        display: block;
    } */

    .sidebarItem {
        padding: 8px 0;
    }

    .sidebarLink {
        padding: 8px 15px;
        font-size: 1.3em;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        /* Make sidebar full width on mobile */
        display: flex;
    }

    .sidebar.open {
        /* display: block; */
        /* Show sidebar on mobile when open */
        display: flex;
    }

    .strongsContent {
        text-align: left;
    }

    /* Default font size for small screens */
    [lang="he"].hebrew-text {
        font-size: 15vw !important;
        /* Adjust the size relative to the viewport width */
        text-align: center;
        margin: 0px 0;
        direction: rtl;
        /* max-width: 100%; */
        word-wrap: break-word;
        /* line-height: 3.4; */
        /* Better Hebrew font rendering */
        padding: 0px;
    }
}